{{ partial "header.html" . }}
<body>
    {{ partial "singletop.html" . }}
  <div class="container">
    <div class="intro">
      <figure>
        <img src="/images/profile_icon.png" style="width:40%;" alt="nishant portrait" data-action="zoom" />
      </figure>
      <p>Hi! I'm <a href="/about">Fox Mulder</a>, currently special agent at the FBI, where I work in the X-Files division. My expertise is the paranormal and government conspiracies.
      </p>
    </div>

      <div class="row">
        <div class="six columns recent">
          <h3>Recent Blog Posts</h3>
          <ul>
            {{ range first 3 (where .Data.Pages "Section" "blog") }}
            <li>
              <a href="{{ .RelPermalink }}" class="title">{{ .Title }}</a>
              <p class="desc">{{ .Description }}</p>
            </li>
            {{ end }}
          </ul>
          <a class="button" href="/blog">All Posts</a>
        </div>

        <div class="six columns recent">
          <h3>News</h3>
          <p>I almost got solid proof of extra-terrestrial life yesterday, but the military came in at the last moment. I'm sure it wasn't a coincidence.</p>
          <a class="button button-primary" href="#" target="_blank">More News</a>
        </div>
      </div>
      </div>
      {{ partial "footer.html" . }}
  </div>
    {{ partial "bodyend.html" . }}
    {{ partial "analytics.html" . }}
</body>
</html>
