{{ range .Site.Pages }}
  <!-- only show if it's a page and has a section associated with it, but the section should not be "archive" -->
  {{ if and (.IsPage) (.Section) (not (eq .Section "archive" )) }}
    <div class="row">
      <div class="post-meta two columns">
        {{ if not .Params.nodate }}
        <span class="post-date listing-date">
          <span class="post-date-month">{{ .Date.Format "Jan" }}</span>
          <span class="post-date-day"> {{ .Date.Format "02" }}, </span>
          <span class="post-date-year">{{ .Date.Format "2006" }}</span>
        </span>
        {{ end }}
      </div>
      <div class="post-title seven columns">
        <a href="{{ .RelPermalink }}" class="title">{{ .Title }}</a>
      </div>
      <div class="post-title three columns">
        <a href="/{{ .Section }}" class="title"><i class="icon-right-open"></i>{{ .Section }}</a>
      </div>
    </div>
  {{ end }}
{{ end }}