<h1 class="social-me" align="center">
{{ if .Site.Params.authorTwitter }}
  <a href="https://twitter.com/{{ .Site.Params.authorTwitter }}" target="_blank"><i class="icon-twitter"></i></a>
{{ end }}
{{ if .Site.Params.authorGithub }}
  <a href="https://www.github.com/{{ .Site.Params.authorGithub }}" target="_blank"><i class="icon-github-circled"></i></a>
{{ end }}
{{ if .Site.Params.authorLinkedin }}
  <a href="https://www.linkedin.com/in/{{ .Site.Params.authorLinkedin }}" target="_blank"><i class="icon-linkedin"></i></a>
{{ end }}
{{ if .Site.Params.authorInstagram }}
  <a href="https://www.instagram.com/{{ .Site.Params.authorInstagram }}" target="_blank"><i class="icon-instagram"></i></a>
{{ end }}
</h1>