{{ if .Params.authorTwitter }}
  <span class="post-author-social post-author-twitter"><a href="https://twitter.com/{{ .Params.authorTwitter }}" target="_blank"><i class="fa fa-twitter"></i></a></span>
{{ end }}
{{ if .Params.authorFacebook }}
  <span class="post-author-social post-author-facebook"><a href="https://www.facebook.com/{{ .Params.authorFacebook }}" target="_blank"><i class="fa fa-facebook"></i></a></span>
{{ end }}
{{ if .Params.authorGoogleplus }}
  <span class="post-author-social post-author-google-plus"><a href="https://plus.google.com/+{{ .Params.authorGoogleplus }}" target="_blank"><i class="fa fa-google-plus"></i></a></span>
{{ end }}
{{ if .Params.authorLinkedin }}
  <span class="post-author-social post-author-linkedin"><a href="https://www.linkedin.com/in/{{ .Params.authorLinkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></span>
{{ end }}
