<h1 class="social-me" align="center">
{{ if .Site.Params.authorTwitter }}
  <a href="https://twitter.com/{{ .Site.Params.authorTwitter }}" target="_blank"><i class="icon-twitter"></i></a>
{{ end }}
{{ if .Site.Params.authorFacebook }}
  <a href="https://www.facebook.com/{{ .Site.Params.authorFacebook }}" target="_blank"><i class="icon-facebook-squared"></i></a>
{{ end }}
{{ if .Site.Params.authorGithub }}
  <a href="https://www.github.com/{{ .Site.Params.authorGithub }}" target="_blank"><i class="icon-github-circled"></i></a>
{{ end }}
{{ if .Site.Params.authorGoogleplus }}
  <a href="https://plus.google.com/+{{ .Site.Params.authorGoogleplus }}" target="_blank"><i class="icon-gplus"></i></a>
{{ end }}
{{ if .Site.Params.authorLinkedin }}
  <a href="https://www.linkedin.com/in/{{ .Site.Params.authorLinkedin }}" target="_blank"><i class="icon-linkedin"></i></a>
{{ end }}
</h1>