<hr class="thin" />
  <div class="social-sharing">
    <h1 class="social-sharing">
    Share:
    <a class="share-button-twitter" title="Twitter" onClick="return popupShare(this.href);" href="http://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}&via={{ .Site.Params.authorTwitter }}" target="_blank"><i class="icon-twitter-circled"></i></a>
  	<a class="share-button-facebook" title="Facebook" onClick="return popupShare(this.href);" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"><i class="icon-facebook-circled"></i></a>
  	<a class="share-button-google-plus" title="Google Plus" onClick="return popupShare(this.href);" href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank"><i class="icon-gplus-circled"></i></a>
    </h1>
  </div>
<hr class="thin" />