{{ partial "header.html" . }}
<body>
      {{ partial "singletop.html" . }}

  <div class="container">
      <h1 class="post-title"><i class="icon-pencil"></i> <a href="#">Blog Posts</a> </h1>
        <div class="post-content-meta">
          Long-form articles about my opinions, travel, or anything else I find worth writing about
        </div>
        <br>
        {{ partial "corelist.html" . }}
  </div>
  {{ partial "footer.html" . }}
  {{ partial "analytics.html" . }}
  {{ partial "bodyend.html" . }}
</body>
</html>
