{{ partial "header.html" . }}
<body>
      {{ partial "singletop.html" . }}

  <div class="container">
      <h1 class="post-title"><i class="icon-theatre"></i> <a href="#">Experiences</a> </h1>
        <div class="post-content-meta">
          I like to explore and travel, and this is where I write about it
        </div>
        <br>
        {{ partial "corelist.html" . }}
  </div>
  {{ partial "footer.html" . }}
  {{ partial "analytics.html" . }}
  {{ partial "bodyend.html" . }}
</body>
</html>
