{{ partial "header.html" . }}
<body>
      {{ partial "singletop.html" . }}

  <div class="container">
      <h1 class="post-title"><i class="icon-cog-alt"></i> <a href="#">SciTech</a> </h1>
        <div class="post-content-meta">
          Posts related to academic or computer science-y things and the work I do
        </div>
        <br>
        {{ partial "corelist.html" . }}
  </div>
  {{ partial "footer.html" . }}
  {{ partial "analytics.html" . }}
  {{ partial "bodyend.html" . }}
</body>
</html>
