{{ partial "header.html" . }}
<body>
    {{ partial "singletop.html" . }}
  <div class="container">
    <div class="intro">
      <figure>
        <img src="/images/nishant.jpg" style="width:40%;" alt="nishant portrait" data-action="zoom" />
      </figure>
      <p>Hi! I'm <a href="/about">Nishant Totla</a>, currently a software engineer at <a href="http://www.docker.com" target="_blank">Docker, Inc.</a> where I work on the core open source team, focusing on distributed systems.
      </p>
    </div>

      <div class="row">
        <div class="six columns recent">
          <h3>Recent Technical Articles</h3>
          <ul>
            {{ range first 3 (where .Data.Pages "Section" "articles") }}
            <li>
              <a href="{{ .RelPermalink }}" class="title">{{ .Title }}</a>
              <p class="desc">{{ .Description }}</p>
            </li>
            {{ end }}
          </ul>
          <a class="button" href="/blog">All Posts</a>
        </div>

        <div class="six columns recent">
          <h3>News</h3>
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Flying to Seattle for the March 19-20 weekend. Hoping to be less of a tourist this time, and enjoy the city!</p>&mdash; Nishant Totla (@nishanttotla) <a href="https://twitter.com/nishanttotla/status/703141599207817217">February 26, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          <a class="button button-primary" href="https://twitter.com/nishanttotla/timelines/677716044539174914" target="_blank">More News</a>
        </div>
      </div>

      <div class="row">
        <div class="six columns recent">
          <h3>Recent Blog Posts</h3>
          <ul>
            {{ range first 3 (where .Data.Pages "Section" "blog") }}
            <li>
              <a href="{{ .RelPermalink }}" class="title">{{ .Title }}</a>
              <p class="desc">{{ .Description }}</p>
            </li>
            {{ end }}
          </ul>
          <a class="button" href="/articles">All Posts</a>
        </div>

        <div class="six columns recent">
          <h3>Currently Reading</h3>
          <img src="/images/zen.png" style="max-width:100%;">
          <a class="button button-primary" href="https://www.goodreads.com/user/show/2814324-nishant-totla" target="_blank">More books</a>
        </div>
      </div>

      </div>
      {{ partial "footer.html" . }}
  </div>
    {{ partial "bodyend.html" . }}
    {{ partial "analytics.html" . }}
</body>
</html>
