{{ partial "header.html" . }}
<body>
    {{ partial "singletop.html" . }}
  <div class="container">
    <div class="intro">
      <figure>
        <img src="/images/nishant_nola.jpg" style="width:80%;" alt="nishant portrait" />
      </figure>
      <p>Hi! I'm <a href="/about">Nishant Totla</a>, currently a software engineer at <a href="http://www.docker.com" target="_blank">Docker, Inc.</a> where I work on the core open source team, focusing on distributed systems. Previously, I dropped out of the <a href="http://www.eecs.berkeley.edu/~nishant/" target="_blank">PhD program</a> at the University of California, Berkeley, after graduating from the Indian Institute of Technology, Bombay. One of my proudest moments was representing India at the International Physics Olympiad, 2008.
      </p>
    </div>

      <div class="row">
        <div class="six columns recent">
          <h3>Recent Blog Posts</h3>
          <ul>
            {{ range first 3 (where .Data.Pages "Section" "blog") }}
            <li>
              <a href="{{ .RelPermalink }}" class="title">{{ .Title }}</a>
              <p class="desc">{{ .Description }}</p>
            </li>
            {{ end }}
          </ul>
          <a class="button" href="/blog">All Posts</a>
        </div>

        <div class="six columns recent">
          <h3>Other Content</h3>
          <ul>
            <li>
              <a href="/monthly-log" class="title"><i class="icon-calendar"></i> Monthly Log</a>
              <p class="desc">Interesting updates on a monthly basis</p>
            </li>
            <li>
              <a href="/notes" class="title"><i class="icon-edit"></i> Notes</a>
              <p class="desc">Short ideas and observations</p>
            </li>
            <li>
              <a href="/scitech" class="title"><i class="icon-stackoverflow"></i> SciTech</a>
              <p class="desc">Technical/academic content related to work etc.</p>
            </li>
          </ul>
        </div>
      </div>
  </div>
    {{ partial "footer.html" . }}
    {{ partial "analytics.html" . }}
    {{ partial "bodyend.html" . }}
</body>
</html>
