{{ partial "header.html" . }}
<body>
    {{ partial "singletop.html" . }}
  <div class="container">
    <div class="intro">
      <figure>
        <img class="lazy" src="/images/nishant_nola_tiny.jpg" data-src="/images/nishant_nola.jpg" style="width:100%;" alt="nishant portrait" />
      </figure>
      <p>Hi! My name is <a href="/about">Nishant Totla</a> and I like storytelling in various forms.
        I'm currently interested in photography, writing, acting, and combining these with other
        performance art forms. My stories revolve around identity, belonging, gender,
        queerness, mental health, and any other topic I feel dearly about.
      </p>

      <p>
        I work at YouTube as a software engineer. Previously, I wrote open source software at
        <a href="http://www.docker.com" target="_blank">Docker</a>.
      </p>
    </div>

      <div class="row">
        <div class="six columns recent">
          <h3>Recent Blog Posts</h3>
          <ul>
            {{ range first 4 (where .Data.Pages "Section" "blog") }}
            <li>
              <a href="{{ .RelPermalink }}" class="title">{{ .Title }}</a>
              <p class="desc">{{ .Description }}</p>
            </li>
            {{ end }}
          </ul>
          <a class="button" href="/blog">All Posts</a>
        </div>

        <div class="six columns recent">
          <h3>Other Content</h3>
          <ul>
            <li>
              <a href="/monthly-log" class="title"><i class="icon-calendar"></i> Monthly Log</a>
              <p class="desc">Interesting updates on a monthly basis</p>
            </li>
            <li>
              <a href="/experiences" class="title"><i class="icon-theatre"></i> Experiences</a>
              <p class="desc">Travel, explorations, and all that makes life richer</p>
            </li>
            <li>
              <a href="/notes" class="title"><i class="icon-edit"></i> Notes</a>
              <p class="desc">Short ideas and observations</p>
            </li>
            <li>
              <a href="/scitech" class="title"><i class="icon-cog-alt"></i> SciTech</a>
              <p class="desc">Technical/academic content related to work etc.</p>
            </li>
          </ul>
        </div>
      </div>
  </div>
    {{ partial "footer.html" . }}
    {{ partial "analytics.html" . }}
    {{ partial "bodyend.html" . }}
</body>
</html>
